:root {
  /* Special */
  --background: #0c131b;
  --foreground: #d2d9ef;
  --cursor: #d2d9ef;

  /* Colors */
  --color0: #0c131b;
  --color1: #d5876c;
  --color2: #3d5385;
  --color3: #6d7192;
  --color4: #768aae;
  --color5: #b49ab1;
  --color6: #9ca2cd;
  --color7: #d2d9ef;
  --color8: #9397a7;
  --color9: #d5876c;
  --color10: #3d5385;
  --color11: #6d7192;
  --color12: #768aae;
  --color13: #b49ab1;
  --color14: #9ca2cd;
  --color15: #d2d9ef;
}
